services:
   subgen:
      container_name: subgen
      tty: true
      image: kessokunet/subgen
      build:
         context: .
         dockerfile: Dockerfile.rocm
      environment:
         - "WHISPER_MODEL=medium"
         - "WHISPER_THREADS=12"
         - "SHOULD_WHISPER_DETECT_AUDIO_LANGUAGE=true"
         - "CONCURRENT_TRANSCRIPTIONS=3"
         - "FORCE_DETECTED_LANGUAGE_TO=ja"
         - "DETECT_LANGUAGE_LENGTH=120"
         - "TRANSCRIBE_DEVICE=gpu"
      volumes:
         - "/mnt/nas/media:/media"
         - "./models:/subgen/models"

      devices:
         - "/dev/kfd:/dev/kfd"
         - "/dev/dri:/dev/dri"
      ports:
         - "9000:9000"
